.container{
    width: 1400px;
    margin: 0px auto;
}
.nav-bar{
    text-align: center;
    height: 50px;
    background-color:  #ccc5c5;
    color: black;
    font-weight: 900;
    font-size: 20px;
    line-height: 50px;
    text-transform: uppercase;
}
article.content img{
    padding: 30px;
    width: 43%;
    float: left;
}
.content p{
    position: absolute;
    top: 850px;
    left: 100px;
    right: 900px;
    bottom: auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 30px;
}
.content-small img{
    width: 300px;
    padding: 30px;
}
.content-small li{
    list-style: none;
    font-size: 20px;
}
.content-small li p{
    color: rgb(75, 69, 69);
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
.content-small li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    transition: 0.3s ease;
    font-weight: 900;
}
.content-small li a:hover{
    opacity: 0.7;
}
.more li{
    list-style: none;
}
.more li a{
    text-decoration: none;
    color: black;
    font-size: 22px;
    font-weight: 900;
    transition: 0.3s ease;
}
.more li a:hover{
    opacity: 0.7;
}
.conten2 .more li img{
    padding-right: 30px;
    width: 400px;
}
.more li p{
    font-size: 18px;
    text-align: justify;
}