header{
    text-align: center;
}
.fs1 img{
    width: 25%;
    height: 25%;
    margin-right:  10%;
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 100px;
}
.fs1 h3{
    font-size: 40px;
    text-align: center;
    padding-top: 120px;
    padding-left: 120px;
    color: rgb(40, 41, 43);
}

.fs1 h3 .small p{
    color: #ff7200;
    width: 100px;
    border-bottom: 3px solid #ff7200;
    font-size: 20px;
    text-align: center;
    margin-left: 335px;
    margin-bottom: 25px;
    font-family:Georgia, 'Times New Roman', Times, serif
}
.fs1 h5{
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-top: 20px;
    padding-left: 120px;
    color: rgb(117, 114, 114);
}
.big{
    clear: both;
    border-top: 1px solid rgb(100, 98, 98) ;
    border-bottom: 1px solid rgb(100, 98, 98);
    margin: 100px;
    padding: 20px;
}
.big h1{
    clear: both;
    text-align: center;
    font-size: 70px;
    color: rgb(40, 41, 43);    
}
.big p{
    text-align: center;
    font-size: 45px;
    color: rgb(40, 41, 43);
}
.fs2 > img{
    width: 30%;
    height: 25%;
    margin: 20px;
}
.fs2 h1{
    padding-top: 200px;
    text-align: center;
    font-size: 50px;
}
.btn{
    padding-top: 30px;
    color: #ff7200;
    text-align: center;
    font-size: 20px;
    border-bottom: 20px;
}